# Prerequisites
core
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
app
test_run

# 桥接文件
*_u.*
*_t.*

# 测试文件
test/

.config_SIM_DEBUG_x64
test_makefile
